.lineChart_wrap {
  margin: 2rem auto 0 auto;
  /* width: 86%; */
}

.chart-border {
  position: relative;
  top: -1.6em;

  /* width: 100%; */
  width: 90%;
  height: 1px;
  border-top: 1px solid black;
  z-index: -1;
}

.xAxis {
  display: flex;
  justify-content: first baseline;
  width: 100%;
  /* text-align: center; */
  transform: translateX(-0.5%);
}

.x-label-wrap {
  font-size: 1.5em;
  font-weight: bold;
  width: calc(100% / 7);
}

.x-label {
  font-weight: bold;
}

.DateAxis {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  text-align: center;
  transform: scale(1.12);
}

.x-date-label {
  margin-top: 0.5rem;

  font-size: 0.5rem;
  font-weight: bold;
  color: black;
}

.x-label-wrap:first-child {
  color: black;
}

.__sun {
  color: #d13e3e;
}

.__sat {
  color: #396ee2;
}
