/* @media print{ .con2 { page-break-after: always;}} */
/* Line Chart */
#myChart {
  z-index: 0;
  border-bottom: 3px solid #ccc;
  padding: 0 5rem;
}

.lineChart_wrap {
  position: relative;
  margin: 2.5rem auto 0 auto;

  max-height: 400px;
}

.xAxis {
  display: flex;

  padding: 1rem 0;
}

.x-label-wrap {
  font-size: 1.5em;
  font-weight: bold;
  width: calc(100% / 7);
}

.x-label {
  text-align: center;
  font-weight: bold;
}

.DateAxis {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  text-align: center;
  transform: scale(1.12);
}

.x-date-label {
  margin-top: 0.5rem;

  font-size: 1.2rem;
  font-weight: bold;
  color: black;

  text-align: center;
}

.x-label-wrap:first-child {
  color: black;
}

.__sun {
  color: #d13e3e;
}

.__sat {
  color: #396ee2;
}

@media (min-width: 801px) and (max-width: 1279px) {
  #myChart {
    padding: 0 3rem;
  }
}

@media (min-width: 581px) and (max-width: 800px) {
  #myChart {
    padding: 0 2rem;
  }
}

@media (max-width: 580px) {
  .lineChart_wrap {
    max-height: 250px;
  }

  #myChart {
    padding: 0 1rem;
  }

  #WORD_CLOUD {
    padding-top: 2rem;
  }
}
